/code/sw10/nbproject/private/
/code/sw10/build/
/code/ModelRewriter/ModelRewriter.sln
/code/ModelRewriter/ModelRewriter.v12.suo
/code/ModelRewriter/ModelRewriter/bin/Release
/code/ModelRewriter/ModelRewriter/bin/Debug/*.exe*
/code/ModelRewriter/ModelRewriter/obj
