AAUsimpletheme.pdf
presentation.pdf
*.nav
*.snm
*.vrb
*.aux

*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nlo
*.out
*.pdfsync
*.ps
*.synctex.gz*
*.toc
*.xdy
*.tdo
master.pdf

#compile scrips
*.bat
*.gz(busy)
*.sty
